:root {
    --navbarHeight: 60px;
    --defaultTextColor: rgb(230, 230, 250);
    --defaultBackgroundColor: rgb(88, 89, 109);
    --backgroundDark: rgb(30, 30, 50);
    --validGreen: rgb(180, 250, 180);
    --invalidRed: rgb(250, 180, 180);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    color: var(--defaultTextColor);
}

button {
    width: fit-content;
    padding: 3px;
    min-height: 30px;
    min-width: 30px;
    margin: 3px;
    border: 2px solid var(--backgroundDark);
    border-radius: 3px;
    color: var(--backgroundDark);
    background-color: white;
}

input {
    width: fit-content;
    padding: 3px;
    border: 2px solid var(--backgroundDark);
    border-radius: 3px;
    color: var(--backgroundDark);
    background-color: white;
}

select {
    width: fit-content;
    padding: 3px;
    border: 2px solid var(--backgroundDark);
    border-radius: 3px;
    color: var(--backgroundDark);
    background-color: white;
}

option {
    color: var(--backgroundDark);
}

body {
    margin: 0;
}

#navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: var(--navbarHeight);
    background-color: var(--backgroundDark);
    color: white;
    padding-left: 20px;
}

#navbar h2 {
    padding-right: 20px;
}

#container {
    height: calc(100vh - var(--navbarHeight));
    background-color: var(--defaultBackgroundColor);
}

#elementsPage {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#elementsPage h1 {
    margin-bottom: 10px;
}

#elementsPage form {
    margin-bottom: 10px;
}

#elementsPage div {
    margin-bottom: 10px;
}

#elementsPage label {
    margin-bottom: 10px;
}

.elementSelector {
    display: flex;
    flex-direction: row;
}

#propertyName {
    margin-right: 10px;
}

.active {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
}

.inactive {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.valid {
    color: var(--validGreen);
}

.invalid {
    color: var(--invalidRed);
}

#clueContainer {
    margin: 3px;
    padding: 5px;
    border: solid 2px var(--backgroundDark);
}

#clue {
    display: flex;
    flex-direction: row;
}

#elemTables {
    display: flex;
    flex-direction: row;
}

.propCell {
    margin: 3px;
    padding: 5px;
    border: solid 2px var(--defaultTextColor);
    background-color: var(--backgroundDark);
    color: var(--defaultTextColor);
}

.elemCell {
    margin: 3px;
    padding: 2px;
    border: solid 2px var(--backgroundDark);
    background-color: var(--defaultTextColor);
    color: var(--backgroundDark);
}